.allBorder {
    border: 0.02rem solid rgb(180, 180, 180);
}


/* 按鈕大小 */

.smallButton {
    width: 2.5rem;
}

.smallButtonHeight {
    width: 1.25rem;
}

.regularButton {
    width: 4.5rem;
}

.regularButtonHeight {
    max-height: 2.5rem;
}

.midButtonHeight {
    max-height: 4rem;
}

.midButton {
    min-width: 6rem;
}

.largeButton {
    min-width: 7.5rem;
}


/* 文字置中 */

.regularCenter {
    margin-top: 0.25rem;
}

.textButtonNoColor {
    font-size: 1rem;
    font-family: "Comic Sans MS", "Arial", "黑體-繁", "微軟正黑體", sans-serif;
    color: rgb(0, 163, 222);
    border: none;
    font-weight: bold;
}

.textButton {
    margin-top: 0.25rem;
    font-size: 1rem;
    font-family: "Comic Sans MS", "Arial", "黑體-繁", "微軟正黑體", sans-serif;
    color: whitesmoke;
    border: none;
    border-radius: 2rem;
    width: 4.5rem;
}

.textButtonMini {
    margin-top: 0.25rem;
    font-size: 1rem;
    font-family: "Comic Sans MS", "Arial", "黑體-繁", "微軟正黑體", sans-serif;
    color: whitesmoke;
    border: none;
    border-radius: 2rem;
    width: 2.5rem;
}

.textButtonNoBg {
    margin-top: 0.25rem;
    font-size: 1rem;
    font-family: "Comic Sans MS", "Arial", "黑體-繁", "微軟正黑體", sans-serif;
    color: whitesmoke;
    background-color: rgb(0, 163, 222);
    border: none;
    border-radius: 2rem;
    width: 4.5rem;
}

.smallTextButton {
    margin-top: 0.25rem;
    font-size: 1rem;
    font-family: "Comic Sans MS", "Arial", "黑體-繁", "微軟正黑體", sans-serif;
    color: whitesmoke;
    background-color: rgb(0, 163, 222);
    border: none;
    border-radius: 2rem;
    width: 3rem;
}

.orangeButton {
    color: rgb(243, 243, 243);
    background-color: #F7C96D;
    border-radius: 2rem;
    border: none;
}


/* 搜尋框 */


/* 典圖片上傳+預覽 */
.imgContainer {
    position: relative;
}
